.himg
{
	height:200px;
	width:100px;
	border:3px solid #d61138;
	border-radius: 2px;
}

 .himg{
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

.himg:hover {
 transform : scale(1.2);
 -moz-transform : scale(1.2);
 -webkit-transform : scale(1.2);
 -o-transform : scale(1.2);
 -ms-transform : scale(1.2);
}


.os
{
	background-color: rgba(30, 219, 181,0.5);
}

#h1
{
	background-color: rgba(0,0,0,0.2);
}

.myimg
{
	border-radius: 5px;
	height:300px;
	width:400px;
}

.drimg h1,h3
{
	font-family: candara;
	color:#3065b5;
}
